<ion-item [routerDirection]="'root'" [routerLink]="'/home'">
    <ion-icon slot="start" name="home"></ion-icon>
    <ion-label>
        Inicio
    </ion-label>
</ion-item>

<ion-item [routerDirection]="'root'" [routerLink]="'/profile'">
    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
    <ion-label>
        Perfil
    </ion-label>
</ion-item>

<ion-item [routerDirection]="'root'" [routerLink]="'/login'">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    <ion-label>
        Cerrar Sesión
    </ion-label>
</ion-item>