<ion-app>

    <ion-split-pane contentId="menuContent">
        <ion-menu contentId="menuContent">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menú</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">

                        <app-split-pane></app-split-pane>

                        <ion-icon color="tertiary" slot="start" name="card-outline" size="large"></ion-icon>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="menuContent"></ion-router-outlet>
    </ion-split-pane>
</ion-app>