<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>BudJet App</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
        <ion-list class="welcome-card">
            <ion-item>
                <h1>Crear cuenta</h1>
            </ion-item>
        </ion-list>
    </div>

    <ion-grid class="home-grid">

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Nombre de la cuenta</mat-label>
                    <input matInput type="text" required [(ngModel)]="nueva_cuenta.nombre">
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Saldo inicial</mat-label>
                    <input matInput type="number" placeholder="0" min="0" [(ngModel)]="nueva_cuenta.saldo">
                    <span matTextPrefix>$</span>
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="ingresoExitoso()">Ingresar cuenta</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <h5 class="copyright">© BudJet App Todos los derechos reservados</h5>
    </ion-toolbar>
</ion-footer>