<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>BudJet App</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
        <ion-list class="welcome-card">
            <ion-item>
                <h1>Crear movimiento</h1>
            </ion-item>
        </ion-list>
    </div>

    <ion-grid class="home-grid">

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Cuenta</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let cuenta of cuentas_usuario" [value]="cuenta.id"
                            (click)="setCuenta(cuenta)">
                            {{cuenta.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Tipo de movimiento</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let tipo of tipos_movimiento" [value]="tipo.id" (click)="SetTipo(tipo)">
                            {{tipo.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Monto</mat-label>
                    <input matInput type="number" min="0" [(ngModel)]="nuevo_movimiento.monto">
                    <span matTextPrefix>$</span>
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <mat-form-field>
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" [(ngModel)]="nuevo_movimiento.descripcion">
                </mat-form-field>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="ingresoExitoso()">Ingresar movimiento</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <h5 class="copyright">© BudJet App Todos los derechos reservados</h5>
    </ion-toolbar>
</ion-footer>