<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create-movement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create-movement</ion-title>
    </ion-toolbar>
  </ion-header>


 <!--  <div class="form-container">
    <mat-form-field class="home-form">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingrese Nombre" [(ngModel)]="loggedUser.nombre">
    </mat-form-field>

    <mat-form-field class="home-form">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Ingrese Apellido" [(ngModel)]="loggedUser.apellido">
    </mat-form-field>

    <mat-form-field class="home-form">
        <mat-label>Nivel educacional: </mat-label>
        <mat-select>
            <mat-option *ngFor="let nivel of nivel_educacional" [value]="nivel" (click)="setNivelEd(nivel)">
                {{ nivel }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="home-form">
        <mat-label>Fecha nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="loggedUser.fecha_nacimiento">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<mat-divider></mat-divider> 

    <ion-grid class="button-grid">
        <ion-row>
            <ion-button>Limpiar</ion-button>
            <ion-button type="reset">Mostrar</ion-button>
        </ion-row>
    </ion-grid>
-->

</ion-content>
